---
layout: post
title: "Octopress: a first impression"
date: 2013-04-24 18:40
comments: true
categories: 
- Octopress
---
.well
	| I have no wife. No children. I won't have a legacy. The only thing the world will know me for is
	strong chunky bacon.
